<!DOCTYPE html>
<html>
	<head>
		<title>Webtag</title>
		<link rel="icon" type="img/png" href="../images/logos/mini.png"/>
		<link rel="stylesheet" type="text/css" href="../styles/style.css"/>
		<link rel="stylesheet" type="text/css" href="../styles/index.css"/>
	</head>
	<body>
		<section>
			<div id="logo"><img src="../images/logos/logo_bleu-01.png"></div>
		</section>
		<section id="button_section">
			<a href="#" id="connection">connection</a>
			<a href="#" id="inscription">inscription</a>
		</section>
		<section>
			<div><p>Pour etre machin machin</p></div>
			<input type="button" name="ICI">
		</section>
	</body>
</html>